<div class="w-full h-full relative">
  <div
    class="z-10 w-full h-full flex flex-col justify-center items-center gap-4 absolute pt-10"
  >
    <h1 class="max-w-fit text-white font-semibold text-base min-[375px]:text-lg sm:text-2xl md:text-4xl animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5">
      Discover Your Life, Explore New Places
    </h1>
    <p class="px-1 text-white text-center max-w-xl text-xs sm:text-sm  md:text-base">
      Adventure Awaits, and
      <span class="font-semibold text-teal-400">[</span>ClimbingGuy<span
        class="font-semibold text-teal-400"
        >]</span
      >
      is Your Trusty Sidekick for All Your Climbing Pursuits.
    </p>
  </div>
  <img
    src="../../../assets/pexels-francesco-ungaro-2835436 1.png"
    alt="Mountains"
    class="w-full max-h-screen -z-10"
  />
</div>
